.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.contactContainer{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contactProfile{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  cursor : pointer;
}

.contact {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
}

.status {
  font-size: 0.8rem;
  color: green;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.actions button {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
}
